/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 11, 2016, 7:25:01 PM
    Author     : Qing_Zhou
*/
.container {
    width:420px;
    height:420px;
    position:relative;
    border:12px solid #333;
    border-radius: 100%;
    margin:100px auto;
    background-color: #333;
}
.container-inside {
    padding-top:2px;
    padding-left:2px;
    position: relative;
}
.button {
    width:200px;
    height:200px;
    display:inline-block;
    border:3px solid #333;
}
.left-top {
    border-top-left-radius: 100%;
    background-color : #00a74a;
}
.right-top {
    border-top-right-radius: 100%;
    background-color : #9f0f17;
}
.left-bottom {
    border-bottom-left-radius: 100%;
    background-color : #cca707;
}
.right-bottom {
    border-bottom-right-radius: 100%;
    background-color : #094a8f;
}
.center {
    width: 200px;
    height:200px;
    border:solid;
    border-radius: 100%;
    position:absolute;
    top:100px;
    left:99px;
    background-color:#ECE7EE;
    border: 12px solid #333;
}
.label {
    font-size: 4em;
    margin-top:20px;
    margin-left:40px;
    font-family: 'Jomhuria', cursive;
}
.label .small {
    font-size: 0.5em;
    vertical-align: top;
}
.screen {
    width: 60px;
    height: 40px;
    border: 5px solid #333;
    margin-left: 22px;
    margin-top: -14px;
    border-radius: 10px;
    background-color: #32050C;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #2196F3;
  -webkit-transition: .4s;
  transition: .4s;
}


input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

label {
    margin-top: 20px;
    margin-left: 70px;
}
.screen {
    font-family: 'digital-clock-font', sans-serif;
    font-size: 3em;
    text-align: center;
}
.screen.led-on {
    color : #DC0D29;
}
.screen{
    color:#430710;
}
.on, .off {
    position: absolute;
    top: 7px;
    font-size: 0.9em;
    font-family : 'Oswald',Arial,sans;
}
.on {
    left: 45px;
    top:27px;
}
.off {
    right: 45px;
    top:27px;
}
.start, .strict {
    position:absolute;
    text-align: center;
}
.start {
    top: 74px;
    right: 60px;
}
.strict {
    top: 73px;
    right: 8px;
}
.start .button, .strict .button {
    width:15px;
    height: 15px;
    border:solid;
    border-radius: 100%;
    
}
.start .button {
    background-color : #9f0f17;
}
.strict .button {
    background-color : #cca707;
}
.start .name, .strict .name {
    font-size: 0.9em;
    font-family : 'Oswald',Arial,sans;
}

.left-top.active {
    background-color : #13ff7c;
}
.right-top.active {
    background-color : #ff4c4c;
}
.left-bottom.active {
    background-color : #fed93f;
}
.right-bottom.active {
    background-color : #1c8cff;
}
.error-message,.win-message {
    font-family: 'Jomhuria', cursive;
    font-size: 3em;
    text-align: center;
    margin-top:50px;
    margin-bottom: -98px;
    display:none;
}
@font-face{
 font-family:'digital-clock-font';
 src: url('digital.ttf');
}